#{extends 'main.html' /}
#{set title:'Cadastro de Jogadores' /}

<h1>Cadastro de Investimentos</h1>

<form action="@{Investimentos.salvar}" method="post">

	<input type="hidden" name="jog.id" value="${jogador?.id}">
	Nome: <input type="text" name="jog.nome" value="${jogador?.nome}"><br>
	Nick: <input type="text" name="jog.nickname" value="${jogador?.nickname}"><br>	
	Data de Nascimento: <input type="date" name="jog.dataNascimento" value="${jogador?.dataNascimento}"><br>
	Equipe: 
	<select name="jog.equipe.id"">
		<option></option>
		#{list items:equipes, as: 'equipe'}
			<option value="${equipe.id}" #{if jogador?.equipe?.id == equipe.id} selected #{/if} >${equipe.nome}</option>
		#{/list}
	</select><br>
	
	<input type="submit" value="Enviar">	
</form>

<a href="@{Application.index}">Página Inicial</a>


